/* Core Stylesheet - 1.0 */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/animate.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #424242;
  line-height: 1.3;
  font-weight: 700; }

p {
  font-family: "Open Sans", sans-serif;
  color: #939393;
  font-size: 14px;
  line-height: 2.1;
  font-weight: 400; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* :: 3.1.0 Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

/* :: 3.2.0 Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px; }

/* :: 3.4.0 Preloader */
.preloader {
  background-color: #20d8da;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999; }
  .preloader .spinner {
    width: 70px;
    text-align: center; }
    .preloader .spinner div {
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
    .preloader .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s; }
    .preloader .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/* :: 3.5.0 Miscellaneous */
.section-title {
  font-size: 36px;
  color: #fff;
  font-weight: 400; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-title {
      font-size: 30px; } }
  @media only screen and (max-width: 767px) {
    .section-title {
      font-size: 24px; } }

.tooltip-inner {
  background-color: #20d8da; }

.tooltip .arrow::before {
  border-top-color: #20d8da; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f0f4f8; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-pattern {
  position: relative;
  z-index: 2; }
  .bg-pattern::after {
    background-image: url(img/core-img/pattern.png);
    background-repeat: repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.bg-pattern2 {
  position: relative;
  z-index: 2; }
  .bg-pattern2::after {
    background-image: url(img/core-img/pattern2.png);
    background-repeat: repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.bg-fixed {
  background-attachment: fixed !important; }

/* :: 3.6.0 ScrollUp */
#scrollUp {
  background-color: #000000;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 37px;
  right: 50px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15); }
  #scrollUp:hover, #scrollUp:focus {
    background-color: #20d8da;
    color: #ffffff; }

/* :: 3.7.0 egames Button */
.egames-btn {
  background-color: #20d8da;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 14px;
  line-height: 50px;
  font-weight: 500;
  text-transform: capitalize; }
  .egames-btn:hover, .egames-btn:focus {
    font-size: 14px;
    font-weight: 500;
    background-color: #000000;
    color: #ffffff; }

/* :: 4.0 Header Area CSS */
.header-area {
  position: relative;
  z-index: 1000;
  width: 100%; }
  .header-area .top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 85px; }
    .header-area .top-header-area .top-search-area {
      position: relative;
      z-index: 1; }
      .header-area .top-header-area .top-search-area form {
        position: relative;
        z-index: 1;
        width: 255px; }
        @media only screen and (max-width: 767px) {
          .header-area .top-header-area .top-search-area form {
            width: 120px;
            margin-left: 15px; } }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          .header-area .top-header-area .top-search-area form {
            width: 160px; } }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
          .header-area .top-header-area .top-search-area form {
            width: 200px; } }
        .header-area .top-header-area .top-search-area form input {
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          position: relative;
          z-index: 1;
          width: 100%;
          height: 42px;
          background-color: #ebf5f5;
          border: none;
          color: #ababab;
          font-size: 12px;
          font-style: italic;
          padding: 0 20px; }
          .header-area .top-header-area .top-search-area form input:focus {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15); }
        .header-area .top-header-area .top-search-area form button {
          position: absolute;
          top: 0;
          right: 0;
          height: 42px;
          z-index: 10;
          width: 50px;
          background-color: transparent;
          border: none;
          color: #555555;
          cursor: pointer; }
          .header-area .top-header-area .top-search-area form button:hover, .header-area .top-header-area .top-search-area form button:focus {
            color: #20d8da;
            box-shadow: none; }
    .header-area .top-header-area .login-area {
      position: relative;
      z-index: 1; }
      .header-area .top-header-area .login-area a {
        display: block;
        width: 160px;
        height: 42px;
        background-color: #20d8da;
        text-align: center;
        color: #fff;
        line-height: 42px;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 400; }
        @media only screen and (max-width: 767px) {
          .header-area .top-header-area .login-area a {
            width: 30px; } }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          .header-area .top-header-area .login-area a {
            width: 50px; } }
        .header-area .top-header-area .login-area a:hover, .header-area .top-header-area .login-area a:focus {
          background-color: #000000;
          font-weight: 400; }
        .header-area .top-header-area .login-area a i {
          display: none;
          line-height: 42px; }
          @media only screen and (max-width: 767px) {
            .header-area .top-header-area .login-area a i {
              display: block; } }
        @media only screen and (max-width: 767px) {
          .header-area .top-header-area .login-area a span {
            display: none; } }
  .header-area .egames-main-menu {
    position: relative;
    width: 100%;
    height: 70px; }
    .header-area .egames-main-menu .classy-navbar {
      height: 70px;
      padding: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .egames-main-menu .classy-navbar {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; } }
      @media only screen and (max-width: 767px) {
        .header-area .egames-main-menu .classy-navbar {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; } }
      .header-area .egames-main-menu .classy-navbar .nav-brand {
        max-width: 160px;
        margin-right: 30px; }
      .header-area .egames-main-menu .classy-navbar .classynav ul li a {
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
        padding: 0 10px;
        color: #545454; }
        .header-area .egames-main-menu .classy-navbar .classynav ul li a:hover, .header-area .egames-main-menu .classy-navbar .classynav ul li a:focus {
          color: #20d8da; }
      .header-area .egames-main-menu .classy-navbar .classynav > ul > li:first-child a {
        padding-left: 0; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .egames-main-menu .classy-navbar .classynav > ul > li:first-child a {
            padding-left: 10px; } }
        @media only screen and (max-width: 767px) {
          .header-area .egames-main-menu .classy-navbar .classynav > ul > li:first-child a {
            padding-left: 10px; } }
      .header-area .egames-main-menu .classy-navbar .classynav ul li ul li a {
        color: #404040;
        font-size: 14px;
        padding: 0 20px; }
    .header-area .egames-main-menu .top-social-info a {
      font-size: 14px;
      color: #545454;
      display: inline-block;
      margin-left: 30px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .egames-main-menu .top-social-info a {
          margin-left: 0;
          margin-right: 30px; } }
      @media only screen and (max-width: 767px) {
        .header-area .egames-main-menu .top-social-info a {
          margin-left: 0;
          margin-right: 15px; } }
      .header-area .egames-main-menu .top-social-info a:hover, .header-area .egames-main-menu .top-social-info a:focus {
        color: #20d8da; }
  .header-area .is-sticky .egames-main-menu {
    z-index: 9999;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2); }

/* :: 5.0 Hero Area CSS */
.hero-area {
  position: relative;
  z-index: 1; }
  .hero-area .owl-prev {
    display: none !important; }
  .hero-area .owl-next {
    position: absolute;
    width: 133px;
    height: 52px;
    top: 50%;
    margin-top: -26px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-transform: capitalize;
    background-color: #20d8da;
    right: 50px;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 52px; }
    @media only screen and (max-width: 767px) {
      .hero-area .owl-next {
        width: 80px;
        height: 34px;
        line-height: 34px;
        margin-top: -17px;
        font-size: 11px;
        right: 15px; } }
    .hero-area .owl-next:hover {
      background-color: #000000;
      color: #ffffff; }

.single-slide {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 790px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-slide {
      height: 700px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-slide {
      height: 600px; } }
  @media only screen and (max-width: 767px) {
    .single-slide {
      height: 450px; } }
  .single-slide .blog-content {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 80px;
    border-left: 2px solid #20d8da;
    background-color: rgba(0, 0, 0, 0.6); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slide .blog-content {
        padding: 50px; } }
    @media only screen and (max-width: 767px) {
      .single-slide .blog-content {
        padding: 30px 20px; } }
    .single-slide .blog-content h2 {
      color: #fff;
      font-size: 60px;
      margin-bottom: 20px;
      font-weight: 400; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-slide .blog-content h2 {
          font-size: 42px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-slide .blog-content h2 {
          font-size: 36px; } }
      @media only screen and (max-width: 767px) {
        .single-slide .blog-content h2 {
          font-size: 24px; } }
    .single-slide .blog-content p {
      font-size: 15px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 0; }
      @media only screen and (max-width: 767px) {
        .single-slide .blog-content p {
          font-size: 12px; } }

/* :: 6.0 Games Area CSS */
.single-games-area {
  position: relative;
  z-index: 1; }
  .single-games-area::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #cdcdcd;
    top: 0;
    right: -6.5px;
    position: absolute;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .single-games-area::after {
        display: none; } }
  .single-games-area img {
    max-height: 55px;
    margin: 0 auto;
    display: block; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-games-area img {
        max-height: 40px; } }
    @media only screen and (max-width: 767px) {
      .single-games-area img {
        max-height: 40px; } }

.games-area {
  position: relative;
  z-index: 1; }
  .games-area .col-12:last-child .single-games-area:after {
    display: none; }

.pagination .page-item .page-link {
  background-color: transparent;
  font-size: 16px;
  color: #424242;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  border-radius: 0;
  padding: 0;
  margin-right: 10px;
  border: none;
  font-weight: 600; }
  .pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
    color: #20d8da;
    box-shadow: none; }
.pagination .page-item.active .page-link {
  color: #20d8da; }

/* :: 7.0 Footer Area CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #0c0c0c;
  border-top: 1px solid #fff;
  background-image: url(img/core-img/pattern.png);
  background-repeat: repeat; }
  .footer-area .single-footer-widget {
    position: relative;
    z-index: 1; }
    .footer-area .single-footer-widget .widget-title {
      display: block;
      margin-bottom: 60px; }
      .footer-area .single-footer-widget .widget-title h4 {
        font-weight: 400;
        color: #fff;
        margin-bottom: 0;
        line-height: 1; }
    .footer-area .single-footer-widget .widget-content p {
      margin-bottom: 0;
      color: #808080; }
    .footer-area .single-footer-widget .widget-content ul li a {
      display: block;
      color: #808080;
      font-size: 14px;
      margin-bottom: 20px;
      font-weight: 400; }
      .footer-area .single-footer-widget .widget-content ul li a:focus, .footer-area .single-footer-widget .widget-content ul li a:hover {
        color: #20d8da; }
  .footer-area .copywrite-content {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 15px 0; }
    .footer-area .copywrite-content .copywrite-text {
      font-size: 12px;
      margin-bottom: 0;
      color: #666666;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        .footer-area .copywrite-content .copywrite-text {
          margin-bottom: 10px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .footer-area .copywrite-content .copywrite-text {
          margin-bottom: 0; } }
      .footer-area .copywrite-content .copywrite-text a {
        color: #666666;
        font-size: 12px;
        font-weight: 400; }
        .footer-area .copywrite-content .copywrite-text a:hover, .footer-area .copywrite-content .copywrite-text a:focus {
          color: #20d8da; }
    .footer-area .copywrite-content .footer-nav {
      position: relative;
      z-index: 1; }
      .footer-area .copywrite-content .footer-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        @media only screen and (max-width: 767px) {
          .footer-area .copywrite-content .footer-nav ul {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; } }
      .footer-area .copywrite-content .footer-nav li a {
        position: relative;
        z-index: 1;
        color: #545454;
        font-size: 14px;
        font-weight: 400;
        padding: 0 15px; }
        @media only screen and (max-width: 767px) {
          .footer-area .copywrite-content .footer-nav li a {
            padding: 0 5px; } }
        .footer-area .copywrite-content .footer-nav li a:hover, .footer-area .copywrite-content .footer-nav li a:focus {
          color: #20d8da; }
        .copywrite-content {
          background-size: cover;
        }

/* :: 8.0 Blog Area CSS */
.single-articles-area {
  position: relative;
  z-index: 1; }
  .single-articles-area .article-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    width: 38%;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .single-articles-area .article-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px; } }
    .single-articles-area .article-thumbnail img {
      width: 100%;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-articles-area .article-thumbnail::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background-color: rgba(32, 216, 218, 0.6);
      position: absolute;
      visibility: hidden;
      opacity: 0; }
  .single-articles-area .article-content {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
    max-width: 62%;
    width: 62%;
    padding-left: 30px; }
    @media only screen and (max-width: 767px) {
      .single-articles-area .article-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 0; } }
    .single-articles-area .article-content .post-title {
      font-size: 24px;
      color: #424242;
      font-weight: 700;
      display: block;
      margin-bottom: 10px; }
      .single-articles-area .article-content .post-title:hover {
        color: #20d8da; }
    .single-articles-area .article-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 25px; }
      .single-articles-area .article-content .post-meta a {
        font-size: 14px;
        color: #6b6b6b;
        font-weight: 700;
        text-transform: uppercase; }
        .single-articles-area .article-content .post-meta a:first-child {
          margin-right: 30px;
          color: #20d8da; }
        .single-articles-area .article-content .post-meta a:hover, .single-articles-area .article-content .post-meta a:focus {
          color: #20d8da; }
    .single-articles-area .article-content p {
      color: #939393;
      margin-bottom: 0; }
  .single-articles-area:hover .article-thumbnail::after, .single-articles-area:focus .article-thumbnail::after {
    visibility: visible;
    opacity: 1; }
  .single-articles-area:hover .article-thumbnail img, .single-articles-area:focus .article-thumbnail img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .single-articles-area.style-2 .article-content .post-title {
    color: #fff; }
  .single-articles-area.style-2 .article-content p {
    color: #c2c2c2; }

.article-content {
  position: relative;
  z-index: 1; }
  .article-content .post-title {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    display: block;
    margin-bottom: 10px; }
    .article-content .post-title:hover {
      color: #20d8da; }
  .article-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 50px; }
    .article-content .post-meta a {
      font-size: 14px;
      color: #6b6b6b;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 30px; }
      .article-content .post-meta a:last-child {
        margin-right: 0; }
      .article-content .post-meta a:hover, .article-content .post-meta a:focus {
        color: #20d8da; }
  .article-content p {
    color: #939393; }

.post-details-content {
  position: relative;
  z-index: 1; }
  .post-details-content .blog-thumbnail {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1; }
    .post-details-content .blog-thumbnail img {
      width: 100%; }
  .post-details-content .blog-content {
    position: relative;
    z-index: 1; }
    .post-details-content .blog-content .post-title {
      display: block;
      font-size: 24px;
      margin-bottom: 15px;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      @media only screen and (max-width: 767px) {
        .post-details-content .blog-content .post-title {
          font-size: 18px; } }
    .post-details-content .blog-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 50px; }
      .post-details-content .blog-content .post-meta a {
        font-size: 14px;
        color: #6b6b6b;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 30px; }
        .post-details-content .blog-content .post-meta a:last-child {
          margin-right: 0; }
        .post-details-content .blog-content .post-meta a:hover, .post-details-content .blog-content .post-meta a:focus {
          color: #20d8da; }
        @media only screen and (max-width: 767px) {
          .post-details-content .blog-content .post-meta a {
            font-size: 12px;
            margin-right: 15px; } }
    .post-details-content .blog-content p {
      line-height: 2.2; }

.sidebar-area {
  position: relative;
  z-index: 1; }

.single-video-widget {
  background-color: #232323;
  padding: 20px 15px;
  border-bottom: 1px solid #fff;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-video-widget .video-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
    margin-right: 15px; }
  .single-video-widget .video-text {
    position: relative;
    z-index: 1; }
    .single-video-widget .video-text a {
      margin-bottom: 0;
      line-height: 1.7;
      color: #fff;
      font-size: 15px;
      display: block;
      font-weight: 400; }
    .single-video-widget .video-text span {
      color: #747373;
      font-size: 12px;
      margin: 0; }
  .single-video-widget .video-rating {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    width: 50px;
    margin-left: 15px;
    background-color: #20d8da;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 12px; }
  .single-video-widget:hover, .single-video-widget:focus {
    background-color: #20d8da; }
    .single-video-widget:hover .video-rating, .single-video-widget:focus .video-rating {
      background-color: #232323; }

.single-widget-area {
  position: relative;
  z-index: 1; }
  .single-widget-area .widget-title {
    margin-bottom: 50px;
    font-weight: 600; }
  .single-widget-area.add-widget {
    margin-bottom: 160px; }
    .single-widget-area.add-widget .side-img {
      position: absolute;
      bottom: -80px;
      z-index: 10;
      width: 80%;
      right: -40px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-widget-area.add-widget .side-img {
          right: -30px; } }
      @media only screen and (max-width: 767px) {
        .single-widget-area.add-widget .side-img {
          right: 0; } }
    .single-widget-area.add-widget img {
      width: 100%; }
  .single-widget-area.video-widget {
    margin-bottom: 80px; }
  .single-widget-area.post-widget .single-post-area {
    position: relative;
    z-index: 1;
    margin-bottom: 20px; }
    .single-widget-area.post-widget .single-post-area:last-child {
      margin-bottom: 0; }
    .single-widget-area.post-widget .single-post-area .blog-thumbnail {
      position: relative;
      z-index: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      max-width: 80px;
      width: 80px;
      margin-right: 20px; }
      .single-widget-area.post-widget .single-post-area .blog-thumbnail img {
        width: 100%; }
    .single-widget-area.post-widget .single-post-area .blog-content {
      position: relative;
      z-index: 1; }
      .single-widget-area.post-widget .single-post-area .blog-content .post-title {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        font-weight: 600; }
        .single-widget-area.post-widget .single-post-area .blog-content .post-title:hover, .single-widget-area.post-widget .single-post-area .blog-content .post-title:focus {
          color: #20d8da; }
      .single-widget-area.post-widget .single-post-area .blog-content span {
        display: block;
        color: #747373;
        font-size: 12px; }

.comment_area {
  position: relative;
  z-index: 1; }
  .comment_area .comment-content .comment-author {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px; }
  .comment_area .comment-content .comment-meta {
    margin-bottom: 30px; }
    .comment_area .comment-content .comment-meta .post-author {
      font-size: 16px;
      display: block;
      font-weight: 600;
      margin-bottom: 10px;
      text-transform: capitalize; }
    .comment_area .comment-content .comment-meta .post-date {
      display: block;
      font-size: 12px;
      font-weight: 600;
      color: #20d8da;
      margin-bottom: 10px; }
    .comment_area .comment-content .comment-meta .reply {
      position: relative;
      z-index: 1;
      margin-bottom: 0;
      display: block;
      font-size: 12px;
      color: #424242; }
      .comment_area .comment-content .comment-meta .reply:hover {
        color: #20d8da; }
    .comment_area .comment-content .comment-meta p {
      margin-bottom: 10px; }
  .comment_area .single_comment_area {
    margin-bottom: 30px; }
    .comment_area .single_comment_area:last-of-type {
      margin-bottom: 0; }
  .comment_area .children .single_comment_area {
    margin-left: 50px;
    margin-top: 30px; }

/* :: 9.0 Monthly Picks Area CSS */
.monthly-picks-area {
  position: relative;
  z-index: 1;
  background-color: #0e0e0e;
  overflow: hidden; }
  .monthly-picks-area .nav-tabs {
    border-bottom: 2px solid #323232;
    margin-bottom: 80px; }
    .monthly-picks-area .nav-tabs .nav-item .nav-link {
      padding: 0 25px;
      height: 56px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 56px;
      border-radius: 0;
      border: none; }
      .monthly-picks-area .nav-tabs .nav-item .nav-link:hover {
        border: none; }
      .monthly-picks-area .nav-tabs .nav-item .nav-link.active {
        background-color: #20d8da; }
      @media only screen and (max-width: 767px) {
        .monthly-picks-area .nav-tabs .nav-item .nav-link {
          padding: 0 20px;
          height: 42px;
          line-height: 42px;
          font-size: 12px; } }

.single-games-slide {
  position: relative;
  z-index: 1; }
  .single-games-slide .slide-text {
    margin-top: 30px; }
    .single-games-slide .slide-text .game-title {
      color: #fff;
      display: block;
      margin-bottom: 10px;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .single-games-slide .slide-text .game-title {
          font-size: 16px; } }
      .single-games-slide .slide-text .game-title:hover, .single-games-slide .slide-text .game-title:focus {
        color: #20d8da; }
    .single-games-slide .slide-text .meta-data {
      position: relative;
      z-index: 1; }
      .single-games-slide .slide-text .meta-data a {
        font-size: 12px;
        color: #6b6b6b;
        font-weight: 700;
        text-transform: uppercase; }
        .single-games-slide .slide-text .meta-data a:first-child {
          margin-right: 15px; }
        .single-games-slide .slide-text .meta-data a:last-child {
          color: #20d8da; }
        .single-games-slide .slide-text .meta-data a:hover, .single-games-slide .slide-text .meta-data a:focus {
          color: #20d8da; }

.popular-games-slideshow,
.latest-games-slideshow,
.editor-games-slideshow {
  position: relative;
  z-index: 1; }
  .popular-games-slideshow .owl-prev,
  .popular-games-slideshow .owl-next,
  .latest-games-slideshow .owl-prev,
  .latest-games-slideshow .owl-next,
  .editor-games-slideshow .owl-prev,
  .editor-games-slideshow .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(13, 13, 13, 0.7);
    left: 22%;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 60px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .popular-games-slideshow .owl-prev,
      .popular-games-slideshow .owl-next,
      .latest-games-slideshow .owl-prev,
      .latest-games-slideshow .owl-next,
      .editor-games-slideshow .owl-prev,
      .editor-games-slideshow .owl-next {
        left: 15%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .popular-games-slideshow .owl-prev,
      .popular-games-slideshow .owl-next,
      .latest-games-slideshow .owl-prev,
      .latest-games-slideshow .owl-next,
      .editor-games-slideshow .owl-prev,
      .editor-games-slideshow .owl-next {
        left: 15%; } }
    @media only screen and (max-width: 767px) {
      .popular-games-slideshow .owl-prev,
      .popular-games-slideshow .owl-next,
      .latest-games-slideshow .owl-prev,
      .latest-games-slideshow .owl-next,
      .editor-games-slideshow .owl-prev,
      .editor-games-slideshow .owl-next {
        left: 5%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        line-height: 40px; } }
    .popular-games-slideshow .owl-prev:hover,
    .popular-games-slideshow .owl-next:hover,
    .latest-games-slideshow .owl-prev:hover,
    .latest-games-slideshow .owl-next:hover,
    .editor-games-slideshow .owl-prev:hover,
    .editor-games-slideshow .owl-next:hover {
      background-color: #20d8da;
      color: #ffffff; }
  .popular-games-slideshow .owl-next,
  .latest-games-slideshow .owl-next,
  .editor-games-slideshow .owl-next {
    left: auto;
    right: 22%; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .popular-games-slideshow .owl-next,
      .latest-games-slideshow .owl-next,
      .editor-games-slideshow .owl-next {
        right: 15%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .popular-games-slideshow .owl-next,
      .latest-games-slideshow .owl-next,
      .editor-games-slideshow .owl-next {
        right: 15%; } }
    @media only screen and (max-width: 767px) {
      .popular-games-slideshow .owl-next,
      .latest-games-slideshow .owl-next,
      .editor-games-slideshow .owl-next {
        right: 5%; } }

.left-right-pattern {
  position: relative;
  z-index: 6000; }
  .left-right-pattern::after {
    position: absolute;
    width: 100%;
    height: 2000px;
    top: -500px;
    left: 1110px;
    content: '';
    background-color: rgba(14, 14, 14, 0.8);
    background-image: url(img/core-img/pattern.png);
    z-index: 6000; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .left-right-pattern::after {
        left: 930px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .left-right-pattern::after {
        left: 690px; } }
    @media only screen and (max-width: 767px) {
      .left-right-pattern::after {
        display: none; } }
  .left-right-pattern::before {
    position: absolute;
    width: 100%;
    height: 2000px;
    top: -500px;
    left: -1110px;
    content: '';
    background-color: rgba(14, 14, 14, 0.8);
    background-image: url(img/core-img/pattern.png);
    z-index: 6000; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .left-right-pattern::before {
        left: -930px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .left-right-pattern::before {
        left: -690px; } }
    @media only screen and (max-width: 767px) {
      .left-right-pattern::before {
        display: none; } }

/* :: 10.0 Video Area CSS */
.egames-video-area {
  position: relative;
  z-index: 1; }
  .egames-video-area .egames-nav-btn {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 590px;
    overflow-x: hidden;
    overflow-y: scroll; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .egames-video-area .egames-nav-btn {
        height: 400px; } }
    @media only screen and (max-width: 767px) {
      .egames-video-area .egames-nav-btn {
        height: 400px; } }
  .egames-video-area .nav-link {
    padding: 0; }
    .egames-video-area .nav-link .video-text .video-title {
      color: #fff; }
    .egames-video-area .nav-link .video-text span {
      font-size: 10px; }
    .egames-video-area .nav-link.active .single-video-widget {
      background-color: #20d8da; }
      .egames-video-area .nav-link.active .single-video-widget .video-rating {
        background-color: #424242; }
  .egames-video-area .video-playground {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 590px;
    border-left: 1px solid #fff; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .egames-video-area .video-playground {
        height: 400px; } }
    @media only screen and (max-width: 767px) {
      .egames-video-area .video-playground {
        height: 300px; } }
    .egames-video-area .video-playground .play-btn a {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 74px;
      height: 74px;
      z-index: 100;
      top: 50%;
      left: 50%;
      margin-top: -37px;
      margin-left: -37px;
      background-color: rgba(255, 0, 0, 0.63);
      border-radius: 50%;
      text-align: center; }
      .egames-video-area .video-playground .play-btn a img {
        padding: 25px 0; }
      .egames-video-area .video-playground .play-btn a:hover {
        background-color: #20d8da; }

/* :: 11.0 Game Review Area CSS */
.single-game-review-area {
  position: relative;
  z-index: 1; }
  .single-game-review-area .game-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42%;
    flex: 0 0 42%;
    max-width: 42%;
    width: 42%;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .single-game-review-area .game-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px; } }
    .single-game-review-area .game-thumbnail img {
      width: 100%;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .single-game-review-area .game-thumbnail::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background-color: rgba(32, 216, 218, 0.6);
      position: absolute;
      visibility: hidden;
      opacity: 0; }
  .single-game-review-area .game-content {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
    width: 58%;
    padding-left: 30px; }
    @media only screen and (max-width: 767px) {
      .single-game-review-area .game-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 0; } }
    .single-game-review-area .game-content .game-tag {
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #aaaaaa; }
    .single-game-review-area .game-content .game-title {
      font-size: 24px;
      color: #424242;
      font-weight: 700;
      display: block;
      margin-bottom: 10px; }
      .single-game-review-area .game-content .game-title:hover {
        color: #20d8da; }
    .single-game-review-area .game-content .game-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .single-game-review-area .game-content .game-meta a {
        font-size: 14px;
        color: #6b6b6b;
        font-weight: 700;
        text-transform: uppercase; }
        .single-game-review-area .game-content .game-meta a:first-child {
          margin-right: 30px; }
        .single-game-review-area .game-content .game-meta a:hover, .single-game-review-area .game-content .game-meta a:focus {
          color: #20d8da; }
    .single-game-review-area .game-content p {
      color: #939393;
      margin-bottom: 15px; }
    .single-game-review-area .game-content .download-rating-area {
      position: relative;
      z-index: 1; }
      .single-game-review-area .game-content .download-rating-area .download-area a {
        display: inline-block; }
        .single-game-review-area .game-content .download-rating-area .download-area a:first-child {
          margin-right: 20px; }
        .single-game-review-area .game-content .download-rating-area .download-area a img {
          max-height: 36px; }
          @media only screen and (max-width: 767px) {
            .single-game-review-area .game-content .download-rating-area .download-area a img {
              max-height: 24px; } }
      .single-game-review-area .game-content .download-rating-area .rating-area h3 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 0; }
      .single-game-review-area .game-content .download-rating-area .rating-area .stars {
        font-size: 10px; }
        .single-game-review-area .game-content .download-rating-area .rating-area .stars i {
          color: #fbb710; }
  .single-game-review-area:hover .game-thumbnail::after, .single-game-review-area:focus .game-thumbnail::after {
    visibility: visible;
    opacity: 1; }
  .single-game-review-area:hover .game-thumbnail img, .single-game-review-area:focus .game-thumbnail img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .single-game-review-area.style-2 .game-content {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }

.single-game-img-slides {
  position: relative;
  z-index: 1; }
  .single-game-img-slides .carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 15px; }
    .single-game-img-slides .carousel-indicators li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.66667% - 12.5px);
      flex: 0 0 calc(16.66667% - 12.5px);
      max-width: calc(16.66667% - 12.5px);
      width: calc(16.66667% - 12.5px);
      height: 150px;
      margin-left: 0;
      margin-right: 15px;
      background-size: cover;
      background-position: center center; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-game-img-slides .carousel-indicators li {
          height: 100px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-game-img-slides .carousel-indicators li {
          height: 80px; } }
      @media only screen and (max-width: 767px) {
        .single-game-img-slides .carousel-indicators li {
          height: 40px; } }
      .single-game-img-slides .carousel-indicators li:last-child {
        margin-right: 0; }

.egames-barfiller {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .egames-barfiller {
      margin-top: 100px; } }

.single-barfiller-area {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  display: block; }
  .single-barfiller-area:last-child {
    margin-bottom: 0; }
  .single-barfiller-area .barfiller {
    width: 100%;
    height: 7px;
    background: #dcdfff;
    border: none;
    position: relative;
    margin-bottom: 20px;
    box-shadow: none; }
    .single-barfiller-area .barfiller .fill {
      display: block;
      position: relative;
      width: 0px;
      height: 100%;
      background: #333;
      z-index: 1; }
    .single-barfiller-area .barfiller .tipWrap {
      display: none; }
    .single-barfiller-area .barfiller .tip {
      margin-top: 15px;
      padding: 2px 4px;
      font-size: 11px;
      color: #424242;
      left: 0px;
      font-size: 14px;
      position: absolute;
      z-index: 2;
      background: transparent; }
      .single-barfiller-area .barfiller .tip::after {
        display: none; }
  .single-barfiller-area p {
    margin-bottom: 0;
    font-size: 14px;
    color: #424242;
    line-height: 1;
    margin-top: 15px; }

/* :: 12.0 Breadcrumb Area CSS */
.breadcrumb-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 410px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .breadcrumb-area {
      height: 370px; } }
  @media only screen and (max-width: 767px) {
    .breadcrumb-area {
      height: 230px; } }
  .breadcrumb-area .breadcrumb-text {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    padding: 30px 60px;
    border-left: 2px solid #20d8da;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block; }
    @media only screen and (max-width: 767px) {
      .breadcrumb-area .breadcrumb-text {
        padding: 20px 40px; } }
    .breadcrumb-area .breadcrumb-text h2 {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 0;
      color: #fff;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        .breadcrumb-area .breadcrumb-text h2 {
          font-size: 24px; } }
  .breadcrumb-area:hover .breadcrumb-text {
    border-left: 2px solid #fff;
    background-color: #20d8da; }

/* :: 13.0 Contact Area CSS */
.contact-content {
  position: relative;
  z-index: 1; }
  .contact-content p {
    margin-bottom: 0; }

.single-contact-info {
  position: relative;
  margin-bottom: 15px; }
  .single-contact-info:last-child {
    margin-bottom: 0; }
  .single-contact-info .title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99px;
    flex: 0 0 99px;
    max-width: 99px;
    width: 99px;
    height: 32px;
    background-color: #20d8da;
    text-align: center;
    margin-right: 20px; }
    .single-contact-info .title p {
      color: #fff;
      line-height: 32px;
      font-size: 14px;
      margin-bottom: 0; }
  .single-contact-info p {
    font-size: 14px;
    margin-bottom: 0; }

.contact-form-area .form-control {
  position: relative;
  z-index: 2;
  height: 45px;
  width: 100%;
  background-color: #eff4f9;
  font-size: 12px;
  margin-bottom: 30px;
  border-radius: 0;
  padding: 15px 30px;
  font-weight: 600;
  font-style: italic;
  color: #ababab;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border: none; }
  .contact-form-area .form-control:focus {
    box-shadow: none; }
.contact-form-area textarea.form-control {
  height: 190px; }

.map-area {
  position: relative;
  z-index: 2; }
  .map-area iframe {
    width: 100%;
    height: 515px;
    border: none;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .map-area iframe {
        height: 300px; } }

/*FORMULAIRE CSS*/

        .form-heading { color:#fff; font-size:23px;}
        .panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
        .panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
        .login-form .form-control {
          background: #f7f7f7 none repeat scroll 0 0;
          border: 1px solid #d4d4d4;
          border-radius: 4px;
          font-size: 14px;
          height: 50px;
          line-height: 50px;
        }
        .main-div {
          background: #ffffff none repeat scroll 0 0;
          border-radius: 2px;
          margin: 10px auto 30px;
          max-width: 38%;
          padding: 50px 70px 70px 71px;
        }

        .login-form .form-group {
          margin-bottom:10px;
        }
        .login-form{ text-align:center;}
        .forgot a {
          color: #777777;
          font-size: 14px;
          text-decoration: underline;
        }
        .login-form  .btn.btn-primary {
          background: #f0ad4e none repeat scroll 0 0;
          border-color: #f0ad4e;
          color: #ffffff;
          font-size: 14px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0;
        }
        .btn-primary2{
          background: #90EE90 none repeat scroll 0 0;
          border-color: #90EE90;
          color: #ffffff;
          font-size: 14px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0;
        }
        .forgot {
          text-align: left; margin-bottom:30px;
        }
        .botto-text {
          color: #ffffff;
          font-size: 14px;
          margin: auto;
        }
        .login-form .btn.btn-primary.reset {
          background: #ff9900 none repeat scroll 0 0;
        }
        .back { text-align: left; margin-top:10px;}
        .back a {color: #444444; font-size: 13px;text-decoration: none;}
/*FIN FORMULAIRE CSS*/

/* ====== The End ====== */

/*# sourceMappingURL=style.css.map */

h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* Shopping Demo-2 **********************/
.demo{padding:45px 0}
.product-grid2{font-family:'Open Sans',sans-serif;position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:250px}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#3498db;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#404040;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#3498db;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}

/********************* Shopping Demo-3 **********************/
.product-grid3{font-family:Roboto,sans-serif;text-align:center;position:relative;z-index:1}
.product-grid3:before{content:"";height:81%;width:100%;background:#fff;border:1px solid rgba(0,0,0,.1);opacity:0;position:absolute;top:0;left:0;z-index:-1;transition:all .5s ease 0s}
.product-grid3:hover:before{opacity:1;height:100%}
.product-grid3 .product-image3{position:relative}
.product-grid3 .product-image3 a{display:block}
.product-grid3 .product-image3 img{width:100%;height:250px}
.product-grid3 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-1{opacity:0}
.product-grid3 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-2{opacity:1}
.product-grid3 .social{width:120px;padding:0;margin:0 auto;list-style:none;opacity:0;position:absolute;right:0;left:0;bottom:-23px;transform:scale(0);transition:all .3s ease 0s}
.product-grid3:hover .social{opacity:1;transform:scale(1)}
.product-grid3:hover .product-discount-label,.product-grid3:hover .product-new-label,.product-grid3:hover .title{opacity:0}
.product-grid3 .social li{display:inline-block}
.product-grid3 .social li a{color:#e67e22;background:#fff;font-size:18px;line-height:50px;width:50px;height:50px;border:1px solid rgba(0,0,0,.1);border-radius:50%;margin:0 2px;display:block;transition:all .3s ease 0s}
.product-grid3 .social li a:hover{background:#e67e22;color:#fff}
.product-grid3 .product-discount-label,.product-grid3 .product-new-label{background-color:#e67e22;color:#fff;font-size:17px;padding:2px 10px;position:absolute;right:10px;top:10px;transition:all .3s}
.product-grid3 .product-content{z-index:-1;padding:15px;text-align:left}
.product-grid3 .title{font-size:14px;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid3 .title a{color:#414141}
.product-grid3 .price{color:#000;font-size:16px;letter-spacing:1px;font-weight:600;margin-right:2px;display:inline-block}
.product-grid3 .price span{color:#909090;font-size:14px;font-weight:500;letter-spacing:0;text-decoration:line-through;text-align:left;display:inline-block;margin-top:-2px}
.product-grid3 .rating{padding:0;margin:-22px 0 0;list-style:none;text-align:right;display:block}
.product-grid3 .rating li{color:#ffd200;font-size:13px;display:inline-block}
.product-grid3 .rating li.disable{color:#dcdcdc}
@media only screen and (max-width:1200px){.product-grid3 .rating{margin:0}
}
@media only screen and (max-width:990px){.product-grid3{margin-bottom:30px}
    .product-grid3 .rating{margin:-22px 0 0}
}
@media only screen and (max-width:359px){.product-grid3 .rating{margin:0}
}

/********************* Shopping Demo-4 **********************/
.product-grid4,.product-grid4 .product-image4{position:relative}
.product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:250px}
.product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-1{opacity:0}
.product-grid4 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-2{opacity:1}
.product-grid4 .social{width:180px;padding:0;margin:0 auto;list-style:none;position:absolute;right:0;left:0;top:50%;transform:translateY(-50%);transition:all .3s ease 0s}
.product-grid4 .social li{display:inline-block;opacity:0;transition:all .7s}
.product-grid4 .social li:nth-child(1){transition-delay:.15s}
.product-grid4 .social li:nth-child(2){transition-delay:.3s}
.product-grid4 .social li:nth-child(3){transition-delay:.45s}
.product-grid4:hover .social li{opacity:1}
.product-grid4 .social li a{color:#222;background:#fff;font-size:17px;line-height:36px;width:40px;height:36px;border-radius:2px;margin:0 5px;display:block;transition:all .3s ease 0s}
.product-grid4 .social li a:hover{color:#fff;background:#16a085}
.product-grid4 .social li a:after,.product-grid4 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:20px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid4 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid4 .social li a:hover:after,.product-grid4 .social li a:hover:before{opacity:1}
.product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color:#16a085;font-size:13px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:10px;top:15px;transition:all .3s}
.product-grid4 .product-discount-label{left:auto;right:10px;background-color:#d7292a}
.product-grid4:hover .product-new-label{opacity:0}
.product-grid4 .product-content{padding:25px}
.product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid4 .title a{color:#222}
.product-grid4 .title a:hover{color:#16a085}
.product-grid4 .price{color:#16a085;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
.product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid4:hover .add-to-cart{border:1px solid transparent;background:#16a085;color:#fff}
.product-grid4 .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}
@media only screen and (max-width:990px){.product-grid4{margin-bottom:30px}
}

/********************* Shopping Demo-5 **********************/
.product-image5 .pic-1,.product-image5 .pic-2{backface-visibility:hidden;transition:all .5s ease 0s}
.product-grid5{font-family:Poppins,sans-serif;position:relative}
.product-grid5 .product-image5{overflow:hidden;position:relative}
.product-grid5 .product-image5 a{display:block}
.product-grid5 .product-image5 img{width:100%;height:250px}
.product-image5 .pic-1{opacity:1}
.product-grid5:hover .product-image5 .pic-1{opacity:0}
.product-image5 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0}
.product-grid5:hover .product-image5 .pic-2{opacity:1}
.product-grid5 .social{padding:0;margin:0;position:absolute;top:10px;right:10px}
.product-grid5 .social li{display:block;margin:0 0 10px;transition:all .5s}
.product-grid5 .social li:nth-child(2){opacity:0;transform:translateY(-50px)}
.product-grid5:hover .social li:nth-child(2){opacity:1;transform:translateY(0)}
.product-grid5 .social li:nth-child(3){opacity:0;transform:translateY(-50px)}
.product-grid5:hover .social li:nth-child(3){opacity:1;transform:translateY(0);transition-delay:.2s}
.product-grid5 .social li a{color:#888;background:#fff;font-size:14px;text-align:center;line-height:40px;height:40px;width:40px;border-radius:50%;display:block;transition:.5s ease 0s}
.product-grid5 .social li a:hover{color:#fff;background:#1e3799}
.product-grid5 .select-options{color:#777;background-color:#fff;font-size:13px;font-weight:400;text-align:center;text-transform:uppercase;padding:15px 5px;margin:0 auto;opacity:0;display:block;position:absolute;width:92%;left:0;bottom:-100px;right:0;transition:.5s ease 0s}
.product-grid5 .select-options:hover{color:#fff;background-color:#1e3799;text-decoration:none}
.product-grid5:hover .select-options{opacity:1;bottom:10px}
.product-grid5 .product-content{padding:20px 10px}
.product-grid5 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid5 .title a{color:#222}
.product-grid5 .title a:hover{color:#1e3799}
.product-grid5 .price{color:#222;font-size:13px;font-weight:500;letter-spacing:1px}
@media only screen and (max-width:990px){.product-grid5{margin-bottom:30px}
}

/*******************Profil*************************************/

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
  width: 500px;
  margin-left: 100%;
}

.card.hovercard .cardheader {
  background: url("img/bg-img/1.jpeg");
  background-size: cover;
  height: 135px;
}

.card.hovercard .cardheader2 {
  background: url("img/bg-img/58.jpg");
  background-size: cover;
  height: 135px;
}

.card.hovercard .cardheader3 {
  background: url("img/bg-img/57.jpg");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}


form input {width: 100%; padding: 1%; margin-bottom: 5%;}
form input[type=submit]{padding: 1%;font-family: "Open Sans", sans-serif;color: #424242;line-height: 1.3;font-weight: 700;}

.btn-primary2{
  background: #90EE90 none repeat scroll 0 0;
  border-color: #90EE90;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;}

.espace{height: 100px;}